@model MainProject.SBussiness.Admin.Models.Category.CategoryManageViewModel
@{
    ViewBag.Title = "Thêm Danh mục";
}

<main>
    <div class="main__inner">
        <div class="page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon"><img class="svg" src="/Content/admin/assets/images/icons/post.svg" alt="" srcset=""></div>
                    <div class="page-title-content">
                        <h3>Thêm Danh mục</h3>
                        <p>Tại đây các quản trị viên có thể thêm Danh mục cho website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="block-main shadow-sm col-lg-12">
                <div class="tab-container">
				<div class="block-list-tab">
				  <ul class="list-tab">
                        <li class="item acitve" toggle-for="item-1">Nội dung bài viết</li>
                        <li class="item" toggle-for="item-2">SEO bài viết</li>
                        <li class="item" toggle-for="item-3">Hình ảnh</li>
                    </ul>
				</div>
                    <div class="tab-content">
                        @using (Html.BeginForm())
                        {
                            <div class="content" tab-id="item-1">
                                <div class="block-form">
                                    <div class="form-row">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(d => d.LogHistoryId)
                                        @Html.HiddenFor(d => d.ImageFolder)
                                        <div class="form-group col-lg-6">
                                            <label>Ngôn ngữ</label>
                                            <div class="input-group shadow-sm">
                                                @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { onchange = "changeCategory(this.value)", @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Danh mục cha</label>
                                            <div class="input-group shadow-sm">
                                                @Html.DropDownListFor(d => d.ParentSelectedValue, new List<SelectListItem>(), new { @class = "form-control chooseUrlPage" })
                                                @Html.ValidationMessageFor(d => d.ParentSelectedValue)
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Đường dẫn *</label>
                                            <div class="input-group shadow-sm">
                                                <div class="input-group-prepend url-default"><span class="input-group-text"></span></div>
                                                @Html.TextBoxFor(d => d.SeName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.SeName)
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>Đường dẫn mới</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.ExternalUrl, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.ExternalUrl)
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Tiêu đề *</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Title, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.Title)
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Ảnh đại diện</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.ImageDefault)
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Mô tả</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextAreaFor(d => d.Description, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.Description)
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="block-form col-lg-12">
                                            <label>Nội dung</label>
                                            <div class="form-group">
                                                @Html.TextAreaFor(d => d.Content, new { @class = "ck-editor" })
                                                @Html.ValidationMessageFor(d => d.Content)
                                            </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Thứ tự</label>
                                            <div class="input-group shadow-sm">
                                                @Html.TextBoxFor(d => d.Order, new { @class = "form-control", type = "number" })
                                            </div>
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-6">
                                            <label>Mẫu Template</label>
                                            <div class="input-group shadow-sm">
                                                @Html.DropDownListFor(d => d.DisplayTemplateSelected, Model.DisplayTemplates, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(d => d.DisplayTemplateSelected)
                                            </div>
                                        </div>

                                        <div class="tab-pane product-item col-lg-12" style="display: none">
                                            <p>Sản phẩm</p>
                                            <div class="box-body nopadding">
                                                <div class="form-group mb-0 nopadding">
                                                    <div class="block-table p-0">
                                                        <table id="program_table" class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>STT</th>
                                                                    <th>Tên</th>
                                                                    <th>Nhóm</th>
                                                                    <th class="text-center">
                                                                        <button class="btn btn-outline-success" type="button"
                                                                                onclick="createMedia(event, 'Products')">
                                                                            THÊM
                                                                        </button>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-100"></div>
                                        <div class="form-group col-lg-12">
                                            <a class="btn btn-pill btn-danger" href="/Admin/CategoryAdmin">Hủy</a>
                                            <button class="btn btn-pill btn-success">Thêm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content" tab-id="item-2">
                                @Html.Partial("/Areas/Admin/Views/Shared/_SEO.cshtml", new MainProject.Core.Seo()
                                {
                                    MetaTitle = Model.MetaTitle,
                                    MetaImage = Model.MetaImage,
                                    MetaDescription = Model.MetaDescription,
                                    MetaKeywords = Model.MetaKeywords
                                })
                            </div>
                        }
                        <div class="content" tab-id="item-3">
                            <iframe src="/admin/upload/images?folder=@Model.ImageFolder" frameborder="0" width="100%" height="1000px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-page-verify" hidden></div>
</main>

@section scripts {
    <script>
        $("#Title").on('keyup', function () {
            var str = $(this).val();
            $("#SeName").val(change_alias(str));
        })
        $("#LanguageSelectedValue").trigger("change");

        function changeCategory(languageId) {
            $.ajax({
                url: "/Admin/AdminCommon/GetCategoryByLanague?id=" + languageId + "&cateId=" + @Model.ParentSelectedValue + "&exeptedId=" + @Model.Id,
                type: "GET",
                beforeSend: function () {
                    $('#ParentSelectedValue').attr("disabled", true);
                    $('#ParentSelectedValue').html('<option>Đang tải...</option>')
                }
            }).done(function (result) {
                $('#ParentSelectedValue').attr("disabled", false);
                $('#ParentSelectedValue').children().remove();
                $.each(result.Data, function (i, item) {
                    $("#ParentSelectedValue").append($('<option></option>').val(item.Value).html(item.Text).attr('selected', item.Selected));
                });
            }).fail(function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            });
        }

        // Create Media
        function createMedia(event, name) {
            var target = event.target || event.srcElement;
            // Array position
            var position = $(target).parents("table").find("tbody tr").length;
            var $tbody = $(target).parents("table").find("tbody")
            $.ajax({
                url: "/Admin/CategoryAdmin/CreateProduct",
                data: { languageId: $("#LanguageSelectedValue").val(), pos: position, pName: name },
                type: "GET",
                beforeSend: function () {
                },
                success: function (html) {
                    $tbody.append(html);

                    var form = $("form")
                        .removeData("validator") /* added by the raw jquery.validate plugin */
                        .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/

                    $.validator.unobtrusive.parse(form);
                }
            })
        }

        function showProduct() {
            $(".product-item").hide();
            var template = $("#DisplayTemplateSelected").val();
            var category = $("#ParentSelectedValue option:selected").text();
            var length = (category.match(/>>/g) || []).length;
            if (template == "Product") {
                if (length == 2) {
                    $(".product-item").show();
                }
            }
            else if (template == "Application") {
                if (length == 1) {
                    $(".product-item").show();
                }
            }
            else if (template == "Service") {
                if (length == 0 && category != "Danh mục gốc!") {
                    $(".product-item").show();
                }
            }
        }
    </script>
}